<div class="container">
  

  <div class="modal fade" id="editdetails" role="dialog">
    <div class="modal-dialog">
    
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
        <p>This is edit details modal</p>
        <div class="container">
             <div class="row content">
             <form>
  				<div class="col-m-5">
  					<p>Account Id</p>
                     <input type="number" id="account_id" name="ACCOUNT_ID" >
          			 <hr>
          			 
          			<p>Account Location</p>
                    <input type="text" id= "location" name="LOCATION" >
                    <hr>
                     
                     <p>Account Line of Business</p>
                     <input type="text" id= "lob" name="LOB">
  					 <hr>
  					 
  					 <p>Educational Requirements</p>
  					 <input type="text" id= "education" name="EDUCATION" value="">
  				     <hr>
  				     
  				     
  				     <p>Operating Hours</p>
  				      <input type="text" id= "operating_hours" name="OPERATING_HOURS" value="">
  				     <hr>
  				     
  				     <p>Category</p>
  				     <input type="text" id= "category" name="CATEGORY" value="">
  				    <hr>
  				</div>
  				 
  				 
  					<div class="col-sm-2">
  				    
  				
  				   </div>
  				   
  				   <div class="col-m-5">
                     <p>Account Name</p>
                        <input type="text" id= "account_name" name="ACCOUNT_NAME" >
                    <hr>
                    
                     <p>Account Business Vertical</p>
         				 <input type="text" id= "business_vertical" name="BUSINESS_VERTICAL" value="">
  				     <hr>
  				     
  				      <p>Account Work Type</p>
         				 <input type="text" id= "work_type" name="WORK_TYPE" value="">
  					  <hr>
  					  
  					  <p>Account Image Path</p>
  					  <input type="text" id= "image_path" name="ACCOUNT_IMAGE_PATH" value="">
  					  <hr>
  					  
  					  <p>Skills Premium</p>
  					  <input type="text" id= "skills_premium" name="SKILLS_PREMIUM" value="">
  					  <hr>
  					  
  					  <p>BPO Experience</p>
  					  <input type="text" id= "bpo_exp" name="BPO_EXP" value="">
  					 <hr>
  				</div>
  				   
  			</form>	   
     			
        
             </div>
        </div>
        
        
          <!-- hidden columns -->
          
          <textarea id= "description" name="DESCRIPTION" value=""></textarea>
          <input type="text" id= "tm_task" name="TM_TASK" value="">
          
          
          <input type="text" id= "skills" name="SKILLS" value="">
         
          
          
          <input type="text" id= "trainings" name="TRAININGS" value="">
        
        
        
        
          
          
          
          
          
         
          
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>



<div class="container">
  
 
  <div class="modal fade" id="editmappingmodal" role="dialog">
    <div class="modal-dialog">
    
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is edit mapping modal</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>