<div id="edituserdetails" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div th:replace="fragments/stylemodal"> </div>
    <!-- Modal content-->

  	 	<div class="modal-content">
  	  
    	  <div class="modal-body">	
	
				
	<!-- 					<div align="center">
							<h1>Edit User</h1>
							<br />
					                   
							<form action="#" th:action="@{/save}" th:object="${users}"  method="POST">
					
								<table border="0" cellpadding="10">
								
								
									<tr>				
										<td>User ID:</td>
										<td><input type="text" th:field="*{USER_ID}" readonly="readonly" /></td>
									</tr>			
									<tr>				
										<td>Firstname:</td>
										<td><input type="text" th:field="*{firstname}" /></td>
									</tr>
									<tr>
										<td>Lastname:</td>
										<td><input type="text" th:field="*{lastname}" /></td>
									</tr>									
									
									<tr>				
										<td>Emp ID:</td>
										<td><input type="text" th:field="*{username}"/></td>
									</tr>
									
							  																					
									<tr>
										<td>User Group:</td>
										<td><input type="text" th:field="*{USER_GROUP}" /></td>
									</tr>					
									
									<tr>
										<td>User Status:</td>
										<td><input type="text" th:field="*{USER_STATUS}" /></td>
									</tr>					
																
									<tr>
										<td colspan="2"><button type="submit">Save</button> </td>
									</tr>
									
									
									
								
									
									
								</table>
							</form>
						</div>
	
						
		 </div>
		</div>
	</div> -->

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      <form th:action="@{/edituser}" method="post">
        hidden
        <div class="columnhidden"><p>User Id<span><input type="number"  id="user_id" name="USER_ID"  ></p></span> </p></div>
        <div class="columnhidden"><p>Changed By<span><input type="text"  id="created_by" name="created_by" th:value="${changedby}"  ></p></span> </p></div>
        hidden
        <p>First Name<span><input type="text" id= "firstname" name="firstname"></span></p>
        <p>Last Name<span><input type="text" id="lastname" name="lastname"></span></p>
        <p>Employee Id<span><input type="text" id="username1" name="username"></span></p>
        <p>Department<span><input type="text" id= "USER_GROUP" name="USER_GROUP"></span></p>
        <p>Activate/Deactivate<span><select id= "USER_STATUS" name="USER_STATUS">
        								<option value="true">Active</option>
        								<option value="false">Disable</option>
                                    </select></span></p>
        <p>Change Password<span><input type="text" id= "PASSWORD" name="PASSWORD"></span></p>   
         <input type="submit" value="Save">
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>

</div>
						
						
						

