<div id="edituserdetails" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div th:replace="fragments/stylemodal"> </div>
    <!-- Modal content-->
  	 	<div class="modal-content">
  	  
    	  <div class="modal-body">	
	
				
						<div align="center">
							<h1>Edit User</h1>
							<br />
					                   
							<form action="#" th:action="@{/save}" th:object="${users}"  method="POST">
					
								<table border="0" cellpadding="10">
								
								
									<tr>				
										<td>User ID:</td>
										<td><input type="text" th:field="*{USER_ID}" readonly="readonly" /></td>
									</tr>			
									<tr>				
										<td>Firstname:</td>
										<td><input type="text" th:field="*{firstname}" /></td>
									</tr>
									<tr>
										<td>Lastname:</td>
										<td><input type="text" th:field="*{lastname}" /></td>
									</tr>									
									
									<tr>				
										<td>Emp ID:</td>
										<td><input type="text" th:field="*{username}"/></td>
									</tr>
									
							  																					
									<tr>
										<td>User Group:</td>
										<td><input type="text" th:field="*{USER_GROUP}" /></td>
									</tr>					
									
									<tr>
										<td>User Status:</td>
										<td><input type="text" th:field="*{USER_STATUS}" /></td>
									</tr>					
																
									<tr>
										<td colspan="2"><button type="submit">Save</button> </td>
									</tr>
									
									
									
								
									
									
								</table>
							</form>
						</div>
	
						
		 </div>
		</div>
	</div>
</div>
						
						
						

