
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='//cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js'></script>
<script src="//cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<title>Reset PW</title>
</head>
<body>
	<div th:replace="fragments/styleUser"> </div>
						
						<div align="center">
							<h1>Reset Password</h1>
							<br />
					                   
							<form action="#" th:action="@{/save}" th:object="${users}"  method="POST">
					
								<table border="0" cellpadding="10">
															
												
								<!-- reset PW starts here  -->
																				
									<tr>				
										<td>New Password:</td>
										<td> 										
											
 										    <input class="input" type="password" name="new" id="new" th:field="*{PASSWORD}" />
																				
										</td>
									</tr>
									
									<tr>				
										<td>Confirm Password:</td>
										<td><input class="input"  type="password" name="confirm" id="confirm" /></td>
										
									</tr>
									
									<tr align="center">
									<td><span id='message'></span></td>
									</tr>
												
																	
									<tr align="center">
										<td colspan="2"><button  class="button" type="submit" name='submit' id='submit'  >Save</button> </td>
									</tr>
									<!-- hidden Variables -->
							
									<tr>				
										<td></td>
										<td><input type="hidden" th:field="*{USER_ID}" readonly="readonly" /></td>
									</tr>			
									<tr>				
										<td></td>
										<td><input type="hidden" th:field="*{firstname}" /></td>
									</tr>
									<tr>
										<td></td>
										<td><input type="hidden" th:field="*{lastname}" /></td>
									</tr>									
									
									<tr>				
										<td></td>
										<td><input type="hidden" th:field="*{username}"/></td>
									</tr>
									
									<tr>
										<td></td>
										<td><input type="hidden" th:field="*{USER_GROUP}" /></td>
									</tr>					
									
									<tr>
										<td></td>
										<td><input type="hidden" th:field="*{USER_STATUS}" /></td>
									</tr>					
											
										 	
								</table>
							</form>
							
<script>

$('form').validate();

$('#new, #confirm').on('keyup', function() {
  if ($('#new').val() == $('#confirm').val()) {
    $('#message').html('Matching').css('color', 'green');
    $('#submit').prop('disabled', false);
  } else {
    $('#message').html('Not Matching').css('color', 'red');
    $('#submit').prop('disabled', true);
  }
});
</script>

		</div>
	</body>
</html>